﻿@section Scripts {
    <script src="~/js/validateAirline.js"></script>
}

@{
    ViewData["Title"] = "Airlines";
}

@model AirlinesListAndFormModel;


<div class="title-wrapper">
    <a class="back-arrow" asp-controller="Home" asp-action="Index">
        <img src="~/assets/left sidebar.png" alt="back-arrow">
    </a>
    <h2 class="title">Airlines</h2>
    <div class="white-space">
    </div>
</div>



<section class="list-section">
    <div class="list-section__content-wrapper">
        <div class="list-section__separator"></div>

        @if (ViewData["errMessage"] != null)
        {
            <div class="server-error">
                @ViewData["errMessage"]
            </div>
        }

        <div class="search">
            <form class="form" asp-action="Index" method="get">
                <legend class="form__title">Search & Filter</legend>
                <div class="inputs">
                    <div class="input-group">
                        <input value="@(Context.Request.Query["search"])"
                               type="text"
                               name="search"
                               id="search" />
                    </div>
                </div>
                <div class="inputs">
                    <div class="input-group checkbox-group">
                        <label for="isAfter2008">After 2008</label>
                        <input checked="@(Context.Request.Query["isAfter2008"] == "on" ? "true" : null)"
                               type="checkbox"
                               name="isAfter2008"
                               id="isAfter2008" />
                    </div>
                </div>
                <button class="orange-btn submit btn">Search</button>
            </form>
        </div>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Founded</th>
                        <th>Fleet Size</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Airlines.Count == 0)
                    {
                        <tr>
                            <td>No data available</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var airlineModel in Model.Airlines)
                        {
                            <tr>
                                <td>@airlineModel.Name</td>
                                <td>@airlineModel.Founded</td>
                                <td>@airlineModel.FleetSize</td>
                                <td class="td-expandable">
                                    @airlineModel.Description
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (Model.PaginationModel.HasPages())
    {
        <div class="pagination">
            <nav>
                <ul class="pagination__items">
                    @if (!@Model.PaginationModel.IsFirstPage())
                    {
                        <li>
                            <a class="btn pagination__item @(Model.PaginationModel.IsFirstPage() ? "disabled" : "")"
                               asp-controller="Airlines"
                               asp-action="Index"
                               asp-route-search="@Context.Request.Query["search"]"
                               asp-route-isAfter2008="@Context.Request.Query["isAfter2008"]"
                               asp-route-page="@(Model.PaginationModel.Page - 1)">
                                Prev
                            </a>
                        </li>
                    }
                    <li>
                        <a class="btn pagination__item"
                           asp-controller="Airlines"
                           asp-action="Index"
                           asp-route-search="@Context.Request.Query["search"]"
                           asp-route-isAfter2008="@Context.Request.Query["isAfter2008"]"
                           asp-route-page="@(Model.PaginationModel.Page)">
                            @Model.PaginationModel.Page
                        </a>
                    </li>
                    @if (!@Model.PaginationModel.IsLastPage())
                    {
                        <li>
                            <a class="btn pagination__item @(Model.PaginationModel.IsLastPage() ? "disabled" : "")"
                               asp-controller="Airlines"
                               asp-action="Index"
                               asp-route-search="@Context.Request.Query["search"]"
                               asp-route-isAfter2008="@Context.Request.Query["isAfter2008"]"
                               asp-route-page="@(Model.PaginationModel.Page + 1)">
                                Next
                            </a>
                        </li>
                    }

                </ul>
            </nav>
        </div>
    }
</section>

<section class="form-section">
    <div class="form-section__content-wrapper">
        <button class="orange-btn btn show-btn">Show Form</button>
        <form class="form add-form" asp-controller="Airlines" asp-action="Index">
            <legend class="form__title">Add New Airline</legend>
            <div class="inputs">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" asp-for="@Model.AirlineDTO.Name">
                    <span asp-validation-for="@Model.AirlineDTO.Name" class="error"></span>
                </div>
                <div class="input-group">
                    <label for="founded">Founded</label>
                    <input type="datetime-local" id="founded" asp-for="@Model.AirlineDTO.Founded">
                    <span asp-validation-for="@Model.AirlineDTO.Founded" class="error"></span>
                </div>
                <div class="input-group">
                    <label for="fleetSize">Fleet Size</label>
                    <input type="number" id="fleetSize" asp-for="@Model.AirlineDTO.FleetSize">
                    <span asp-validation-for="@Model.AirlineDTO.FleetSize" class="error"></span>
                </div>
                <div class="input-group">
                    <label for="description">Description</label>
                    <input type="text" id="description" asp-for="@Model.AirlineDTO.Description">
                    <span asp-validation-for="@Model.AirlineDTO.Description" class="error"></span>
                </div>
            </div>
            <button class="orange-btn submit btn">Submit</button>
        </form>
    </div>
</section>

