﻿@section Scripts {
    <script src="~/js/validateFlight.js"></script>
    <script src="~/js/flightAnimations.js"></script>
}


@{
    ViewData["Title"] = "Flights";
}

@model FlightListAndFormModel;

<div class="title-wrapper">
    <a class="back-arrow" asp-controller="Home" asp-action="Index">
        <img src="~/assets/left sidebar.png" alt="back-arrow">
    </a>
    <h2 class="title">Flights</h2>
    <div class="white-space">
    </div>
</div>

<section class="list-section">
    <div class="list-section__content-wrapper">
        <div class="list-section__separator"></div>

        @if (ViewData["errMessage"] != null)
        {
            <div class="server-error">
                @ViewData["errMessage"]
            </div>
        }
        <button class="toggle-table orange-btn btn">Hide table</button>
        <button class="show-more orange-btn btn">Show more flights</button>
        <div class="table-area">
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Flight Number</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Flights.Count == 0)
                        {
                            <tr>
                                <td>No data available</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var flightModel in Model.Flights)
                            {
                                <tr>
                                    <td>@flightModel.FlightNumber</td>
                                    <td>@flightModel.DepartureAirport</td>
                                    <td>@flightModel.ArrivalAirport</td>
                                    <td>@flightModel.DepartureDateTime</td>
                                    <td>@flightModel.ArrivalDateTime</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <button class="scroll-top">
                <img src="~/assets/arrow-up.svg" />
            </button>
        </div>
    </div>
</section>

<section class="form-section">
    <div class="form-section__content-wrapper">
        <button class="orange-btn btn show-btn">Hide Form</button>
        <form class="form add-form" method="POST" asp-action="Index">
            <legend class="form__title">Add New Flight</legend>
            <div class="inputs">
                <div class="input-group">
                    <label for="flightNumber">Flight Number</label>
                    <input type="text" id="flightNumber" asp-for="@Model.FlightDTO.FlightNumber">
                    <span asp-validation-for="@Model.FlightDTO.FlightNumber" class="error"></span>
                </div>
                <div class="input-group">
                    <label for="depAirport">From</label>
                    <input type="text" id="depAirport" asp-for="@Model.FlightDTO.DepartureAirport">
                    <span asp-validation-for="@Model.FlightDTO.DepartureAirport" class="error"></span>
                </div>
                <div class="input-group">
                    <label for="arrAirport">To</label>
                    <input type="text" id="arrAirport" asp-for="@Model.FlightDTO.ArrivalAirport">
                    <span asp-validation-for="@Model.FlightDTO.ArrivalAirport" class="error"></span>
                </div>
                <div class="double-input">
                    <div class="input-group">
                        <label for="depTime">Departure</label>
                        <input type="datetime-local" id="depTime" asp-for="@Model.FlightDTO.DepartureDateTime">
                        <span asp-validation-for="@Model.FlightDTO.DepartureDateTime" class="error"></span>
                    </div>
                    <div class="input-group">
                        <label for="depTime">Arrival</label>
                        <input type="datetime-local" id="arrTime" asp-for="@Model.FlightDTO.ArrivalDateTime">
                        <span asp-validation-for="@Model.FlightDTO.ArrivalDateTime" class="error"></span>
                    </div>
                </div>
            </div>
            <button class="orange-btn submit btn">Submit</button>
        </form>
    </div>
</section>