﻿@{
    ViewData["Title"] = "Dashboard";
    var airlinesCount = ViewData["airlinesCount"];
    var airportsCount = ViewData["airportsCount"];
    var flightsCount = ViewData["flightsCount"];
}

<section class="catalog-section">
    <h2 class="welcome-title">
        Welcome to Dashboard
    </h2>
    <div class="catalog">
        <div class="model-card">
            <div class="model-card__content">
                <h4 class="model-card__title">Airports</h4>
                <img src="./assets/mdi_airport.png" alt="airport">
                <p class="model-card__count">@airportsCount</p>
            </div>
            <a class="add-btn btn" asp-controller="Airports" asp-action="Index">Add New Airport</a>
        </div>
        <div class="model-card">
            <div class="model-card__content">
                <h4 class="model-card__title">Airlines</h4>
                <img src="./assets/ri_plane-fill.png" alt="airport">
                <p class="model-card__count">@airlinesCount</p>
            </div>
            <a class="add-btn btn" asp-controller="Airlines" asp-action="Index">Add New Airline</a>
        </div>
        <div class="model-card">
            <div class="model-card__content">
                <h4 class="model-card__title">Flights</h4>
                <img src="./assets/carbon_flight-schedule.png" alt="airport">
                <p class="model-card__count">@flightsCount</p>
            </div>
            <a class="add-btn btn" asp-controller="Flights" asp-action="Index">Add New Flight</a>
        </div>
    </div>
</section>

