* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #14213d;
}

img,
svg {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

main {
    min-height: calc(100vh - 47px - 40px);
}

.link {
    text-decoration: none;
}


.btn {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    background-color: #e5e5e5;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.orange-btn {
    color: white;
    background-color: #fca311;
    color: white;
    width: 285px;
    margin: auto;
}

.title-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

.white-space {
    width: 132px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 22px;
    color: white;
    background-color: #000000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.link {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.logo-img {
    width: 18px;
    height: 18px;
}

.nav__items {
    display: flex;
    gap: 1.4rem;
}

.nav__link {
    color: white;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.orange-link {
    color: #fca311;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link:focus {
    color: #fca311;
}

.catalog-section {
    padding: 120px 300px 155px;
}

.welcome-title {
    text-align: center;
    font-size: 1.8rem;
}

.catalog {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.model-card__content {
    border: 1px solid #fca311;
    border-radius: 10px;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.add-btn {
    width: 100%;
    padding: 6px;
    margin-top: 0.8rem;
    display: inline-block;
    border-radius: 6px;
}

.model-card__title {
    font-size: 20px;
}

.model-card__count {
    font-size: 22px;
    font-weight: 700;
}

.title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
}

.list-section {
    margin-bottom: 4rem;
}

.back-arrow {
    height: min-content;
}

.list-section__content-wrapper {
    width: 55%;
    margin: auto;
}


.list-section__separator {
    height: 2px;
    background: #e5e5e5;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: none;
    border-right: 1px solid #14213d;
    border-bottom: 1px solid #14213d;
    border-left: 1px solid #14213d;
    overflow-y: scroll;
}

.table-wrapper {
    height: 282px;
    overflow-y: scroll;
    overflow-x: visible;
    position: relative;
}

td {
    max-width: 120px;
}

.td-expandable {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

    .td-expandable:hover {
        text-overflow: auto;
        overflow: auto;
        white-space: wrap;
    }

td,
th {
    border: 1px solid #14213d;
    padding: 8px 10px;
}

th {
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #e5e5e5;
    padding: 12px;
}

tr:not(:last-child),
th {
    border-bottom: 2px solid #14213d;
    scroll-snap-align: center;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.form-section__content-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.orange-btn {
    color: white;
    background-color: #fca311;
    color: white;
    width: 285px;
    margin: auto;
}

.show-btn {
    margin-bottom: 3rem;
}

.form {
    position: relative;
    width: 60%;
    margin: auto;
    border: 2px solid #e5e5e5;
    border-radius: 18px;
    padding: 20px 30px;
}

.form__title {
    font-weight: 600;
    position: absolute;
    top: -17px;
    left: calc(20px + 6px);
    background-color: white;
    padding: 6px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-group {
    margin-bottom: 2rem;
}

    .input-group label {
        font-weight: 500;
        font-size: 15px;
    }

    .input-group input {
        border: 2px solid #e5e5e5;
        border-radius: 10px;
        line-height: 24px;
        padding: 4px 8px;
        font-size: 16px;
    }

.double-input {
    display: flex;
    gap: 10px;
}

    .double-input input {
        width: 160px;
    }

.submit {
    width: 100%;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.search {
    margin-bottom: 2rem;
}

.pagination {
    margin-top: 2rem;
}

.pagination__items {
    width: max-content;
    margin: auto;
    display: flex;
    gap: 22px;
}

.pagination__item:hover {
    text-decoration: underline;
}

.checkbox-group {
    flex-direction: row;
    gap: 2rem;
}

.error, .server-error {
    color: red;
    white-space: pre-line;
}

.server-error {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}

.toggle-table {
    margin-bottom: 1rem;
}

.table-area {
    position: relative;
}

.scroll-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 4px;
    right: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    .scroll-top img {
        display: block;
        margin: auto;
    }
