﻿@section Scripts {
    <script src="~/js/validateAirport.js"></script>
}

@{
    ViewData["Title"] = "Airports";
}

@model AirportsListAndFormModel;


<div class="title-wrapper">
    <a class="back-arrow" asp-controller="Home" asp-action="Index">
        <img src="~/assets/left sidebar.png" alt="back-arrow">
    </a>
    <h2 class="title">Airports</h2>
    <div class="white-space">
    </div>
</div>

<section class="list-section">
    <div class="list-section__content-wrapper">
        <div class="list-section__separator"></div>

        @if (ViewData["errMessage"] != null)
        {
            <div class="server-error">
                @ViewData["errMessage"] 
            </div>
        }

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Code</th>
                        <th>Runways</th>
                        <th>Founded</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Airports.Count == 0)
                    {
                        <tr>
                            <td>No data available</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var airportModel in Model.Airports)
                        {
                            <tr>
                                <td>@airportModel.Name</td>
                                <td>@airportModel.Country</td>
                                <td>@airportModel.City</td>
                                <td>@airportModel.Code</td>
                                <td>@airportModel.RunwaysCount</td>
                                <td>@airportModel.Founded</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="form-section">
    <div class="form-section__content-wrapper">
        <button class="orange-btn btn show-btn">Show Form</button>
        <form class="form add-form" asp-controller="Airports"  asp-action="Index" method="POST">
            <legend class="form__title">Add New Airport</legend>
            <div class="inputs">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" asp-for="@Model.AirportDTO.Name">
                    <span asp-validation-for="@Model.AirportDTO.Name" class="error"></span>
                </div>
                <div class="input-group">
                    <label for="country">Country</label>
                    <input type="text" id="country" asp-for="@Model.AirportDTO.Country">
                    <span asp-validation-for="@Model.AirportDTO.Country" class="error"></span>
                </div>
                <div class="input-group">
                    <label for="code">Code</label>
                    <input type="text" id="code" asp-for="@Model.AirportDTO.Code">
                    <span asp-validation-for="@Model.AirportDTO.Code" class="error"></span>
                </div>
                <div class="input-group">
                    <label for="city">City</label>
                    <input type="text" id="city" asp-for="@Model.AirportDTO.City">
                    <span asp-validation-for="@Model.AirportDTO.City" class="error"></span>
                </div>
                <div class="input-group">
                    <label for="runways">Runways</label>
                    <input type="number" id="runways" asp-for="@Model.AirportDTO.RunwaysCount">
                    <span asp-validation-for="@Model.AirportDTO.RunwaysCount" class="error"></span>
                </div>
                <div class="input-group">
                    <label for="founded">Founded</label>
                    <input type="datetime-local" id="founded" asp-for="@Model.AirportDTO.Founded">
                    <span asp-validation-for="@Model.AirportDTO.Founded" class="error"></span>
                </div>
            </div>
            <button class="orange-btn submit btn">Submit</button>
        </form>
    </div>
</section>