﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rise Airlines - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" asp-append-version="true">
</head>
<body>
    <header class="header">
        <div class="logo-wrapper">
            <a class="logo link" asp-controller="Home" asp-action="Index">
                <h1 class="link">Rise Airlines</h1>
                <img class="logo-img" src="~/assets/header-plane.png" alt="logo">
            </a>
        </div>
        <partial name="_MainNavigationPartial" />
    </header>
    <div class="container">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <p>Rise Airlines 2024 &copy;</p>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


