﻿<nav class="nav">
    <ul class="nav__items">
        <li><a class="@(Context.Request.Path == "/Airports" ? "orange-link" : "") nav__link link" asp-controller="Airports" asp-action="Index">Airports</a></li>
        <li><a class="@(Context.Request.Path == "/Airlines" ? "orange-link" : "") nav__link link" asp-controller="Airlines" asp-action="Index">Airlines</a></li>
        <li><a class="@(Context.Request.Path == "/Flights" ? "orange-link" : "") nav__link link" asp-controller="Flights" asp-action="Index">Flights</a></li>
    </ul>
</nav>